<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CivicInfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AC0B9C81EA588B80076BB71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC0B9DC1EA588BD0076BB71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC0B9E71EA588C00076BB71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
